<section class="hero-area bg-1 text-center overly">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Header Contetnt -->
        <div class="content-block">
          <%= link_to places_path do %>
          <%= image_tag 'box6.jpg' %><br /><br />
          <% end %>

          <div class="advance-search">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 align-content-center">

                  <%= form_tag search_path, method: :get do |f| %>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <%= text_field_tag :search, params[:search], placeholder: "Gym, Hotels, Salon etc.", class: "form-control my-2 my-lg-1" %>

                    </div>


                    <div class="form-group col-md-3">
                      <%= text_field_tag :location, nil, placeholder: "Location e.g Chicago", class: "form-control my-2 my-lg-1" %>

                    </div>

                    <div class="form-group col-md-3">
                      <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}), prompt: "Select category", class: "form-control mt-lg-1 mt-md-2" %>

                    </div>

                    <div class="form-group col-md-2 my-btn">
                      <%= submit_tag "Search", class: " btn btn-block btn-primary" %>

                    </div>
                  </div>
                  <% end %>
                </div>
               
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
<br /><br />
  </section>
</div>


<section class=" section">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Section title -->
        <h1 class="text-center">Search For Gems Around You!</h1>
        <br />
        <div class="row">
          <!-- Category list -->
          <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
            <div class="category-block">
              <div class="header">
                <i class="fa fa-laptop icon-bg-1"></i> 
                <h4>Electronics</h4>
              </div>
              <% @categories.each do |item| %>
              <ul class="category-list" >

                <li><%= link_to "#{item.name}", search_path(category: item.id) %> </li>


              </ul>

              <% end %>
            </div>
          </div> <!-- /Category List -->
          <!-- Category list -->
          <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
            <div class="category-block">
              <div class="header">
                <i class="fas fa-utensils icon-bg-2"></i> 
                <h4>Restaurants</h4>
              </div>
             <% @categories.each do |item| %>
              <ul class="category-list" >

                <li><%= link_to "#{item.name}", search_path(category: item.id) %> </li>


              </ul>

              <% end %>
            </div>
          </div> <!-- /Category List -->
          <!-- Category list -->
          <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
            <div class="category-block">
              <div class="header">
                <i class="fa fa-shopping-basket icon-bg-4"></i> 
                <h4>Shoppings</h4>
              </div>
              <% @categories.each do |item| %>
              <ul class="category-list" >

                <li><%= link_to "#{item.name}", search_path(category: item.id) %> </li>


              </ul>

              <% end %>
            </div>
          </div> <!-- /Category List -->
          <!-- Category list -->
          <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
            <div class="category-block">
              <div class="header">
                <i class="fa fa-car icon-bg-6"></i> 
                <h4>Vehicles</h4>
              </div>
               <% @categories.each do |item| %>
              <ul class="category-list" >

                <li><%= link_to "#{item.name}", search_path(category: item.id) %> </li>


              </ul>

              <% end %>
            </div>
          </div> <!-- /Category List -->
       


        </div>
      </div>
    </div>
  </div>
  <!-- Container End -->
</section>





<section class="call-to-action overlay bg-3 section-sm">
  <!-- Container Start -->
  <div class="container">
    <div class="row justify-content-md-center text-center">
      <div class="col-md-8">
        <div class="content-holder">
          <h2>Are you a Hidden Jewel?
          Be A Gem!</h2>
          <br />
          <h1>Innovative advertising at affordable prices like never before!</h1>
          <ul class="list-inline mt-30">
            <li class="list-inline-item"><a class="btn btn-dark" href="ad-listing.html">Get more details</a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Container End -->
</section>


<h1 class="font-weight-bold text-center h1 my-5">Featured Gems</h1>
<!--Carousel Wrapper-->
<div class="container">
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">



    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">


        <% @places.each do |place| %>
        <div class="col-md-4">
          <div class="card mb-2">
            <%= link_to place_path(place) do %>
            <div class="card-img-top">

              <iframe src="https://www.youtube.com/embed/<%= place.video %>" allowfullscreen, width= "100%" height="100%" ></iframe>
              <% end %>
            </div>
            <div class="card-body">
              <h4 class="card-title"><%= link_to place.name, place_path(place) %></h4>
              <p class="card-text"><%= place.city %>, <%= place.state %></p>

            </div>
            <div class="card-footer">

              <span class="float-right">
                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                  <%= link_to place_path(place) do %>
                  <i class="fas fa-eye"></i>
                  <% end %>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                </a>
              </span>
            </div>

          </div>
        </div>
        <% end %>


      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">

        <% @places.each do |place| %>
        <div class="col-md-4">
          <div class="card mb-2">
            <%= link_to place_path(place) do %>
            <% if place.photos.attached? %>

            <%= image_tag place.photos.first, class: "card-img-top", height: "180px" %>
            <% end %>
            <% end %>
            <div class="card-body">
              <h4 class="card-title"><%= link_to place.name, place_path(place) %></h4>
              <p class="card-text"><%= place.city %>, <%= place.state %></p>

            </div>
            <div class="card-footer">
         
              <span class="float-right">
                <a class="" data-toggle="tooltip" data-placement="top" title="Quick Look">
                  <%= link_to place_path(place) do %>
                  <i class="fas fa-eye"></i>
                  <% end %>
                </a>
                <a class="" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                </a>
              </span>
            </div>

          </div>
        </div>
        <% end %>




      </div>


    </div>


  </div>
</div>

<br />
<section class="section pb-3 wow fadeIn" data-wow-delay="0.3s">

  