

<section class="ad-post bg-gray py-5">
    <div class="container">
             <%= bootstrap_form_for @place do |f| %>
            <!-- Post Your ad start -->
            <fieldset class="border border-gary p-4 mb-5">
                    <div class="row">
                        <div class="col-lg-12">
                            
                        </div>
                        <div class="col-lg-6">
                            <h6 class="font-weight-bold pt-4 pb-1"></h6>
                            <%= f.text_field :name, class: "border w-100 p-2 bg-white text-capitalize" %>
                              <%= f.text_area :description, placeholder: "Write details of your place",  class: "border p-3 w-100 bg-white" %>

                             <%= f.text_field :address, class: "border w-100 p-2 bg-white text-capitalize" %>
                           
                            <div class="row px-3">
                                <div class="col-lg-6 mr-lg-6 rounded bg-white my-2 ">
                                    <%= f.text_field :state, class: "py-2" %>
                                </div>
                                <div class="col-lg-6 mr-lg-6 rounded bg-white my-2">
                                  <%= f.text_field :city, class: "py-2" %>
                                </div>
                                <div class="col-lg-6 mr-lg-6 rounded bg-white my-2">
                                  <%= f.text_field :zipcode, class: "py-2" %>
                                </div>
                                       <div class="col-lg-6 mr-lg-6 rounded bg-white my-2">
                                         <%= f.select :category_id, Category.all.map{ |f| [f.name, f.id]} %>
                                       </div>

                            </div>
                            <h6 class="font-weight-bold pt-4 pb-1"></h6>
                            
                        </div>
                        <div class="col-lg-6">
                            
                            <div class="price">
                             
                                
                            </div>
                            <div class="choose-file text-center my-4 py-4 rounded">
                                <label for="file-upload">
                                    <span class="d-block font-weight-bold text-dark">Drop files anywhere to upload</span>
                                    <span class="d-block">or</span>
                                    <span class="d-block btn bg-primary text-white my-3 select-files">Select files</span>
                                    <span class="d-block">Maximum upload file size: 500 KB</span>
                                    <input type="file" class="form-control-file d-none" id="file-upload" name="file">
                                </label>
                            </div>
                              <%= f.file_field :avatar, class: "file-input", onchange: "this.form.submit();" %>
                        </div>
                    </div>
            </fieldset>
            <!-- Post Your ad end -->

            <!-- seller-information start -->
            <fieldset class="border p-4 my-5 seller-information bg-gray">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Gem Contact Information</h3>
                    </div>
                    <div class="col-lg-6">
                        <h6 class="font-weight-bold pt-4 pb-1"><%= f.email_field :email, placeholder: "name@yourmail.com", class: "border w-100 p-2" %></h6>
                        
                        <h6 class="font-weight-bold pt-4 pb-1"><%= f.phone_field :phone, class: "border w-100 p-2" %></h6>  
                    </div>
                    <div class="col-lg-6">
                        <h6 class="font-weight-bold pt-4 pb-1"><%= f.url_field :url, placeholder: "https://www.yourwebsite.com", class: "border w-100 p-2" %></h6>

                        <h6 class="font-weight-bold pt-4 pb-1"><%= f.text_field :address, class: "border w-100 p-2" %></h6>
                    </div>
                </div>
            </fieldset>
         

          
          <%= f.submit "Submit", data: { disable_with: false, confirm: "Are you sure?" },class: 'btn blue-gradient' %>
           <% end %>
    </div>
</section>