


 <div id="flex-content-container">
  <main>
    



<!--/.Carousel Wrapper-->



<section class="section bg-gray">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <!-- Left sidebar -->
      <div class="col-md-8">
        <div class="product-details">
          <h1 class="product-title"><%= @place.name %></h1>

             <div class="ratings">
              <span class="pull-right" data-score=>
                <div class="star-rating" data-score =""></div>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                        </ul>
                      </span>
                      </div>
          <div class="product-meta">
            <ul class="list-inline">

              <li class="list-inline-item"><i class="fa fa-location-arrow"></i> Location<a href=""><%= @place.address %></a></li>
            </ul>
          </div>

         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

<ol class="carousel-indicators">
  <% @place.photos.each_with_index do |photo, index| %>
    <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
  <% end %>
</ol>

<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
  <% @place.photos.each_with_index do |photo, index| %>     
    <div class="item <%= index == 0 ? 'active' : '' %>">
    
      <% if @place.photos.attached? %>
       <%= image_tag photo, class: "d-block img-fluid w-100" %>
        <% end %>
      </div>

</div>

  <% end %>
</div>
</div>



   <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>


          <div class="content mt-5 pt-5">
            <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                 aria-selected="true">About this Gem</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
                 aria-selected="false">Reviews</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <h3 class="tab-title"><%= @place.name %></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia laudantium beatae quod perspiciatis, neque
                  dolores eos rerum, ipsa iste cum culpa numquam amet provident eveniet pariatur, sunt repellendus quas
                  voluptate dolor cumque autem molestias. Ab quod quaerat molestias culpa eius, perferendis facere vitae commodi
                  maxime qui numquam ex voluptatem voluptate, fuga sequi, quasi! Accusantium eligendi vitae unde iure officia
                  amet molestiae velit assumenda, quidem beatae explicabo dolore laboriosam mollitia quod eos, eaque voluptas
                  enim fuga laborum, error provident labore nesciunt ad. Libero reiciendis necessitatibus voluptates ab
                excepturi rem non, nostrum aut aperiam? Itaque, aut. Quas nulla perferendis neque eveniet ullam?</p>
            
                  <iframe src="https://www.youtube.com/embed/<%= @place.video %>" allowfullscreen, width= "100%" height="400" ></iframe>
               
            
                <p></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam sed, officia reiciendis necessitatibus
                  obcaecati eum, quaerat unde illo suscipit placeat nihil voluptatibus ipsa omnis repudiandae, excepturi! Id
                  aperiam eius perferendis cupiditate exercitationem, mollitia numquam fuga, inventore quam eaque cumque fugiat,
                  neque repudiandae dolore qui itaque iste asperiores ullam ut eum illum aliquam dignissimos similique! Aperiam
                  aut temporibus optio nulla numquam molestias eum officia maiores aliquid laborum et officiis pariatur,
                  delectus sapiente molestiae sit accusantium a libero, eligendi vero eius laboriosam minus. Nemo quibusdam
                nesciunt doloribus repellendus expedita necessitatibus velit vero?</p>

              </div>



             <!-- Reviews -->
               <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <h3 class="tab-title">Customer Reviews</h3>
                <div class="product-review">
               <% @place.reviews.each do |review| %>
                  <div class="media">
                    <!-- Avater -->
                    <img src="images/user/user-thumb.jpg" alt="avater">
                    <div class="media-body">
                      <!-- Ratings -->

                      <div class="ratings">
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                        </ul>
                      </div>

                      <div class="name">
              <h5><%= review.user.email %></h5>
                      </div>

                      <div class="date">
                       <%= review.created_at.strftime('%b %d %Y') %>   
                      </div>

                      <div class="review-comment">
                        <p>
                        <%= review.comment %>
                        </p>
                      </div>

                    </div>
                  </div>
                  <% end %>

              <div class="review-submission">
                    <h3 class="tab-title">Write your review</h3>
                    <!-- Rate -->
                    <div class="rate">
                      <div class="starrr"></div>
                    </div>
                    <div class="review-submit">
                        <%= bootstrap_form_for @review, url: place_reviews_path(@place) do |f| %>

                        <div class="col-12">
                          <%= f.text_area :comment %>

                        </div>
                        <div class="col-12">
                        <%= f.number_field :rating %>
                        </div>
                        <div class="col-12">
                          <button type="submit" class="btn btn-main">Sumbit</button>
                        </div>
                    <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right sidebar -->
      <div class="col-md-4">
        <div class="sidebar">

          <!-- User Profile widget -->
          <div class="widget user text-center">


           <% if @place.avatar.attached? %>
            <%= image_tag @place.avatar, class: "rounded-circle img-fluid mb-3 px-3" %>
            <% end %>
            <h4><%= @place.name %></h4>
           Website: <%= link_to(h(@place.url), @place.url) %><br />
            Email: <%= @place.email %><br />
            Phone: <%= @place.phone %><br />
          

     


            <ul class="list-inline mt-20">
              <li class="list-inline-item"><a href="" class="btn btn-contact d-inline-block  btn-danger px-lg-5 my-1 px-md-3">Chat with us</a></li>
            </ul>
          </div>



          <!-- Map Widget -->
          <div class="widget map">
            <div class="map">

 <% if @place.latitude.present? && @place.longitude.present? %>
    <script>

      function initMap() {
         var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};
        
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
  </script>

              <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUVi5Uoez-7hb5hh3ZBEn2g4kXMbwdYRk&callback=initMap">
            </script>
            <div id="map"></div>
         <% end %>
          </div>
        </div>


        <!-- Rate Widget -->
        <div class="widget rate">
          <!-- Heading -->
          <div class="widget-header text-center">
           <button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target="#myModal">
  Add a review
 </button>
</div>
          <!-- Rate -->
          <div class="starrr"></div>
        </div>
        <!-- Safety tips widget -->
        <div class="widget disclaimer">
          <h5 class="widget-header">Promotions</h5>Coupon code for discounts
        </div>
        <!-- Coupon Widget -->
        <div class="widget coupon text-center bg-danger">
          <!-- Coupon description -->
          <p>HOURS OF OPERATION
              <ul>
            <li><P> Monday - Friday <br /> 10AM - 8PM</p></li>
            <li><p>813-804-8895</p></li>
          
          </ul>
          </p>

          <!-- Submii button -->
          <a href

          ="" class="btn btn-transparent-white">Visit this Gem</a>
        </div>


      </div>
    </div>

  </div>
</div>
<div class="container float-right">
<!--   <a class="btn btn-primary" href="/places/4/edit">Edit</a>

  <a data-confirm="Are you sure you want to delete this?" class="btn btn-danger" rel="nofollow" data-method="delete" href="/places/4">Destroy</a>
</div>
</div>
Container End --> 
</section>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add a review</h4>
      </div>
       <%= bootstrap_form_for @review, url: place_reviews_path(@place) do |f| %>
        <div class="modal-body">
          <%= f.text_area :comment %>
         <%= f.number_field :rating, value: 1, min: 1, max: 5 %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <%= f.submit "Submit Review", class: 'btn btn-primary' %>
        </div>
       <% end %>
      </div>
    </div>
  </div>
  <br /><br />
 

  </body>

</html>
